---
import Layout from '../../layouts/Layout.astro';
import Wheel from '../../components/wheel.astro';
import HomeboxNumber from '../../components/homeboxnumber.astro';
import RandomNumberPicker from '../../assets/random-number-picker.md';
---

<Layout>
  <Wheel slot="game-left" />
  <HomeboxNumber slot="game-right" />
  <h2>Random Number Generator</h2>
  <RandomNumberPicker />
  
</Layout>


