---
import Layout from '../../layouts/Layout.astro';
import Wheel from '../../components/wheel.astro';
import HomeboxYesNo from '../../components/homeboxyesno.astro';
import YesOrNo from '../../assets/yes-or-no.md';
---

<Layout>
  <Wheel slot="game-left" />
  <HomeboxYesNo slot="game-right" />
  <h2>Yes or No Wheel</h2>
  <YesOrNo />
</Layout>


